/*Added a transparent gradient to the navbar, comment out to return it to black*/
.navbar
{
    background: linear-gradient(rgba(59, 61, 66, 1), transparent);
    border: none;
}

/*Navbar logo div*/
.navbar-brand
{
    text-align: center;
    padding: 8px;
}

/*Navbar logo image*/
#logo
{
    width: 215px;
    margin: auto;
}

/*Reduces space to the left of the navbar*/
#navContainer
{
    margin-left: 10px;
    /*margin-right: -100px;*/
}

.navbar-inverse .navbar-nav>li>a
{
    color: #c4c2c2;
}

/*Page background color, and padding to prevent navbar overlap*/
body
{
    /*padding-top: 50px;*/
    padding-top: 0px;
    background: #3B3D42;
    color: white;
}

/*Header splash image*/
#jumboHeader
{
    background: transparent;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 200px;
    overflow: hidden;
}

#particles-js
{
    position: absolute;
    background-image: url("/assets/HeaderImage1s.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 200px;
    width: 100%;
}

/*Second header with informative text*/
#jumboHeader2
{
    background: #505259;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    /*border: 1px solid red;*/
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#jumboHeader2 h1
{
    color: #51C1E9;
    text-align: center;
    cursor: default;
    font-size: 50px;
    letter-spacing: 5px;
    padding-bottom: 0px;
    margin-top: 0;
    margin-bottom: 0px;
}

#jumboHeader2 h3
{
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 25px;
    line-height: 35px;
}

/*Short divider bar*/
.barShort
{
    background-color: #51C1E9;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    /*border: 1px solid green;*/
}

/*Long divider bar*/
.barLong
{
    background-color: #51C1E9;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    /*border: 1px solid green;*/
}

.container-fluid
{
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 20px;
}

/*Columns*/
.col-md-4
{
    height: 35%;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 23px;
    text-align: center;
    color: rgba(226, 224, 224, 0.9);
    padding-right: 10;
    padding-left: 10;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 20px;
    /*border: 1px solid red;*/
}

/*Common styling for all the column sections*/
.cohortZoom
{
    height: 100%;
    filter: brightness(75%);
    
    background-size: cover;
    background-position: center;
    color: rgba(226, 224, 224, 0.9);
    font-size: 35px;
    padding-top: 220px;
    padding-bottom: 11px;
    border-radius: 15px;
    /*border: 2px solid blue;*/
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*When hovered over, image zooms slightly*/
.cohortZoom:hover
{
    color: rgba(255, 255, 255, 1);
    filter: brightness(100%);
    
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*Animates the ASC Asterisk when a column element is hovered over*/
.cohortZoom img
{
    opacity: 0;
    
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.cohortZoom:hover img
{
    opacity: 1;
    
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);    
}

/*Column background images*/
#cisco
{
    background-image: url("/assets/cohorts/cisco.jpg");
}

#mlb
{
    background-image: url("/assets/cohorts/mlbam.jpg");
}

#fb
{
    background-image: url("/assets/cohorts/fb.jpg");
}

#yh
{
    background-image: url("/assets/cohorts/yh.jpg");
}

#gs
{
    background-image: url("/assets/cohorts/gs.jpg");
}

#cu
{
    background-image: url("/assets/cohorts/cu.jpg");
}

#bond
{
    background-image: url("/assets/cohorts/bond.jpg");
}

/*Bottom contact info and social section*/
#jumboFooter
{
    background: #505259;
    color: #51C1E9;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    
}

#jumboFooter h2
{
    font-size: 40px;
    letter-spacing: 5px;
    cursor: default;
    margin-top: 35px;
    margin-bottom: 25px;
    
    /*Prevents user from higlighting text*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#jumboFooter h4
{
    margin-bottom: 40px;
}

#contactLink
{
    color: #51C1E9;
    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#contactLink:hover
{
    color: #EBAB24;
    
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#fbContact, #twContact, #igContact, #ytContact, #inContact
{
    filter: grayscale(100%);
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    /*border: 1px solid red;*/
    
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#fbContact:hover, #twContact:hover, #igContact:hover, #ytContact:hover, #inContact:hover
{
    filter: none;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
/*Changes font size and spacing for browser resize*/
@media (max-width: 780px)
{
    .jumboHeader2 h1
    {
        font-size: 75px;
        line-height: 100px;
    }
    
}